header {
  background-color: #d1b4f1;
}

h1 {
  color: rgba(182, 223, 179, 0.562);
}

body {
  font-size: 30px;
}
body div {
  font-size: 10px;
}

.block {
  color: blanchedalmond;
}

.block__item {
  color: aquamarine;
}

.red {
  color: red;
}